
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=193467880799348";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% @direccionp="http://www.golazzos.com/partidos/#{@partido.id}" %>
<div class="fb-comments" data-href=<%=@direccionp%> data-width="700" data-num-posts="2"></div>

<% @partidonom="Acabo_de_jugar_por_#{@partido.local}vs#{@partido.visitante}"  %>
<% @partidonom2="Acabo_de_jugar_por_#{@partido.local}vs#{@partido.visitante}"  %>

<div id="fb-root">
<a href="https://twitter.com/share" class="twitter-share-button" data-url=<%=@direccionp%> data-text="Acabo de jugar por mi equipo favorito en " data-via="golazzos" data-lang="es">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
