<div class="partido-montos" id="partido-montos">
  <div class="container">
    <div class="row">
      <div class="span3 offset1 partido-pasouno BTSinEspacio">
       <h3><small>ESCOGE EL VALOR PARA JUGAR</small></h3>
      </div>
    </div>
    <div class="row BTSinEspacio">
      <div class="span10 offset1">
        <div class="row">
        <%= render "apuesta_diez"%>
        </div>
      </div>
    </div>
  </div>
</div>
