  <div class= "span3  pull-right">
    <div class=" well well-mini partidos-premios pul-right">

      

      <a class="twitter-timeline"  href="https://twitter.com/golazzos"  data-widget-id="336966892210245632">Tweets by @golazzos</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fgolazzos&amp;width=292&amp;height=427&amp;show_faces=false&amp;colorscheme=light&amp;stream=true&amp;show_border=true&amp;header=true&amp;appId=500959623297658" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:230px; height:427px;" allowTransparency="true"></iframe>
    </div>
</div>


