

<div class= "header-title">
  <div class="container">
    <div class="row">
      <p>
      <div class="span6 fuenteFuturaB titulo-blanco">
        <h3><%=image_tag "partidos/btn_partidosTitulos.png"%>PARTIDOS

        <%= render "social"%>

      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row BTSinEspacio">
   <%= render "acordeon"%>
   <%= render "premios_y_ranking"%>
  </div>
</div>
</div>


