<div class= "header-title">
  <div class="container">
    <div class="row">
      <div class="span7  titulo-blanco">
        <div class="offset1">
        <div class="fuenteFuturaB"><h3>JUEGA POR TU MARCADOR</h3></div>
        <div class="muted BTSinEspacio"><h6>ESTE ES EL PARTIDO QUE ESCOGISTE, POR FAVOR SIGUE LOS 3 PASOS.</h6></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%=render "afiche_partido"%>

<div class="container">
  <div class="row">
    <div class="span2 offset1">
    <div class="partido-uno">
      <%=image_tag "partido/No1_apuesta.png" %>
    </div>
  </div>
  </div>
</div>
<%=render "monto_a_apostar"%>
<%=render "matriz_apuestas"%>
