<div class= "header-title">
  <div class="container">
    <div class="row">
      <div class="span8 offset1">
        <h3>JUEGA POR TU MARCADOR</h3>
      </div>
    </div>
  </div>
</div>
<%=render "afiche_partido"%>

<div class="container">
  <div class="row">
    <div class="span2 offset1">
    <div class="partido-uno">
      <%=image_tag "partido/No1_apuesta.png" %>
    </div>
  </div>
  </div>
</div>

<%=render "monto_a_apostar"%>
<%render "matriz_apuestas"%>
<%=render "matriz_apuestas_dos"%>
</div>