<div class= "header-title">
  <div class="container">
    <div class="row">
      <div class="span6 fuenteFuturaB titulo-blanco">
        <p> <p>
        <h3><%=image_tag "reglamento/btn_reglamentoTitulos.png"%>REGLAMENTO</h3>
      </div>
    </div>
  </div>
</div>
<div class="container reglamento">
	<div class="row">
		<div class= "span6 offset3">
			<div class="accordion" id="accordion2">
							  
				<div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        OBJETIVO
			      </a>
			    </div>
			    <div id="collapseOne" class="accordion-body collapse in">
			      <div class="accordion-inner">
			        Acumula la mayor cantidad de pezzos cada mes para ganar fabulosos premios!

			      </div>
			    </div>
			  </div>			 
			   <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsetwo">
			        Que gano jugando en Golazzos?
			      </a>
			    </div>
			    <div id="collapsetwo" class="accordion-body collapse">
			      <div class="accordion-inner">
			        Cada mes obsequiamos fabulosos premios a los usuarios que mas pezzos acumulen en el mes.
			      </div>
			    </div>
			  </div>			 
			   <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsethree">
			        Cuales son los premios?
			      </a>
			    </div>
			    <div id="collapsethree" class="accordion-body collapse">
			      <div class="accordion-inner">
			      	<ol>
			      		<li> puesto: 2 Boletas para ver a la Selección Colombia en Barranquilla!</li>
			      		<li> puesto: Camiseta de la Selección Colombia</li>
			      		<li> puesto: Camiseta de la Selección Colombia</li>
			      		<li> puesto: Balón oficial de la Liga Postobon GOLTY</li>
			      		<li> puesto: Balón oficial de la Liga Postobon GOLTY</li>
			      	</ol>
			      </div>
			    </div>
			  </div>			  
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsefour">
			        Como gano pezzos?
			      </a>
			    </div>
			    <div id="collapsefour" class="accordion-body collapse">
			      <div class="accordion-inner">
			        Puedes ganar pezzos jugando por tus equipos favoritos o invitando a tus amigos a Golazzos!

			      </div>
			    </div>
			  </div>			  
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsefive">
			        Como apuesto por mis equipos favoritos?
			      </a>
			    </div>
			    <div id="collapsefive" class="accordion-body collapse">
			      <div class="accordion-inner">
			        Es muy sencillo.
			        <ol>
			        	<li>Ingresa a Partidos.</li>
			        	<li>Busca a tus equipos favoritos, y da Click en JUGAR! </li>
			        	<li>Selecciona el monto que deseas apostar!</li>
			        	<li>Selecciona el marcador final del partido!</li>
			        	<li>Da click en JUGAR! </li>
			        	<li>Comparte con tus amigos! Recuerda que entre mas amigos invites y mas activo seas, mas Pezzos ganaras!</li>
			        </ol>
			      </div>
			    </div>
			  </div>	
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseten">
			        Cuando se cierran los partidos?
			      </a>
			    </div>
			    <div id="collapseten" class="accordion-body collapse">
			      <div class="accordion-inner">
			      	Los partidos se cierran justo en el momento que empieza el partido.
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseeleven">
			        Cuando reparten los pezzos a los marcadores que acertaron?
			      </a>
			    </div>
			    <div id="collapseeleven" class="accordion-body collapse">
			      <div class="accordion-inner">
			      	En el momento que acabe el partido y el marcador sea oficial Golazzos repartira la plata entre las personas que acertaron el marcador.
			      </div>
			    </div>
			  </div>		  
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsesix">
			        Cuantas veces puedo apostar por partido?

			      </a>
			    </div>
			    <div id="collapsesix" class="accordion-body collapse">
			      <div class="accordion-inner">
			        NO hay limite. Puedes apostar cuantas veces quieras.

			      </div>
			    </div>
			  </div>			 
			   <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseseven">
			        Porque no puedo seleccionar algunos marcadores?

			      </a>
			    </div>
			    <div id="collapseseven" class="accordion-body collapse">
			      <div class="accordion-inner">
			       Los marcadores se bloquean por un tiempo para asegurar que hay suficientes pezzos para pagar el marcador. En el momento que podamos asegurar que se puede pagar el marcador se vuelve a Habilitar.
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseeight">
			        Cuando apuesto, con quien  estoy apostando?

			      </a>
			    </div>
			    <div id="collapseeight" class="accordion-body collapse">
			      <div class="accordion-inner">
			        Estas apostando con otros usuarios de Golazzos.

			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsenine">
			        Como invito a mis amigos?
			      </a>
			    </div>
			    <div id="collapsenine" class="accordion-body collapse">
			      <div class="accordion-inner">
			        Haciendo click en GANAR MAS PEZZOS podrás ver las tablas que te dicen cuantos pezzos ganas invitando amigos. Un consejo, entre mas amigos invites mas pezzos ganaras.
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="centro">
	<%= image_tag "partido/partido_fondoPersonaje.png"%>
</div>