<div class="container activities-home">
	<div class="row">
		<div class="span3">
			<%= render "activities/activity_perfil"%>
			<%= render "activities/activity_amigos"%>	
		</div>
		<div class="span6">
			<%= render "friendship_facebook_friends"%>
		</div>
	</div>
</div>