<div class="about2" span1>
	<div class="about_titulo secTitle">RETA A TUS AMIGOS</div>
	<div class="about_content">
		
         
        <p>Jugar en Golazzo$ con tus amigos es más divertido.
        <p>Podrás:
        <p>-Jugar por los marcadores de tus equipos favoritos.
        <p>-Acumular 50000 Pezzos por cada amigo que acepte. 
        <p>-Seguir la actividad de tus amigos.
         <p>-Competir con ellos para VENCER o ser HUMILLADO. 
            <hr>
        <p><strong>Invitalos aquí:</strong>
        <p>	
        <fb:send href=<%=@linkinvitation%>></fb:send>
        <p>
        	<%= link_to activities_path do%> 
            <%=image_tag "Menu/iconosMenu_Ranking.png", {:class => "", :height=>"20"}%> CONTINUAR
            <%end%>
        <p>
        
	</div>
</div>