<div class="about2">
	<div class="about_titulo secTitle">INVITA A TUS AMIGOS</div>
	<div class="about_content">
		
         
        Jugar en Golazzos es más divertido si juegas 
        <p>con tus amigos, invitalos aquí:
        <p>	
        <fb:send href=<%=@linkinvitation%>></fb:send>
        <p>
        	<%= link_to activities_path do%> 
            <%=image_tag "Menu/iconosMenu_Ranking.png", {:class => "", :height=>"20"}%> CONTINUAR
            <%end%>
        <p>
        
	</div>
</div>