<div class="about2">
	<div class="about_titulo secTitle">INVITA A TUS AMIGOS</div>
	<div class="about_content">
		
         
        Invita a tus amigos a Golazzos aquí:<p>

        <fb:send href=<%=@linkinvitation%>></fb:send>
        
	</div>
</div>