<html xmlns:fb="http://www.facebook.com/2008/fbml">

<META HTTP-EQUIV="refresh" CONTENT="0;URL=<%=@linkinvitation%>">
  <body>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <div id="fb-root"></div>

    <div class="alert alert-success">
  Espera un momento mientras redireccionamos a <h5>Facebook.</h5>
  </div>
  <div class="progress progress-striped active">
  <div class="bar" style="width: 100%;"></div>
</div>  
    <a href="<%=@linkinvitation%>">En caso de que no cargue haz click.</a>

  </body>
</html>