<div class= "header-title">
  <div class="container">
    <div class="row">
      <p>
      <div class="span6 fuenteFuturaB titulo-blanco">
        <h3><span class="offset1">GANA MÁS PEZZOS</div></h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row BTSinEspacio">
  <div class="span5 offset2 ">


<p><strong>1. AMIGOS REFERIDOS</strong>
<table class="table partidos-ranking">

    <tbody>
        <tr>
          <td>Si aceptan antes de 24 horas</td><td>recibes 50.000 PEZZOS</td>
        </tr>
        <tr>
        <td>Si aceptan entre 24 y 48 horas</td><td>recibes 20.000 PEZZOS</td>
        </tr>
        <tr>
        <td>Si aceptan después de 48 horas</td><td>recibes 0 PEZZOS</td>
        </tr>
        
        
    </tbody>
  </table>

<!-- Button to trigger modal -->
<p><a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Invitar a tus amigos</a>

<p><% link_to "Postear", @linkwallpost , :class =>"btn btn-primary"%>
<hr><p><strong>2. JUGANDO</strong>

<p>Por cada juego que realices recibes 5000 pezzos

<p><%= link_to "Juega ya", '/partidos/' , :class =>"btn btn-primary"%>


<hr><p><strong>3. LLENANDO TU PERFIL</strong>

<p>Por llenar la información de tu perfil recibes 50000 pezzos
<p><%= render "users/user_profile_boton"%>
</div>
</div>
</div>
    
  

 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Invita a tus amigos a Golazzos</h3>
  </div>
  <div class="modal-body">
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong> </strong> <br/> 
        Si tus amigos acepta ganarás más Pezzos. Puedes invitar hasta 40 amigos.<p>
        No se permiten cuentas ficticias, estas cuentas serán eliminadas.
        <br/>
        Muchas gracias :D!
        Equipo de Golazzos. 
      </div>
    <p>

<% @user = User.find(session['user_id'])%>
<% @connections2 = @user.facebook.get_connections("me","friends")%>

<%= form_for (@invitation) do |f| %>
 <div class="modal-footer">
      <p><%= f.submit "Invite!" , :class => 'btn btn-primary'%></p>
  
  <% end %>
  </div>
</div>