/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face {
	font-family: 'digital7';
	src: url('digital7.ttf');
	src: url('digital7.ttf') format('truetype');     
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'futurali';
}
@font-face {
	font-family: 'FUTURAB';
	src: url('FUTURAB.TTF');
	src: url('FUTURAB.TTF') format('truetype');     
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaThin';
	src: url('FuturaThin.ttf');
	src: url('FuturaThin.ttf') format('truetype');     
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Futura Book BT';
	src: url('Futura Book BT.ttf');
	src: url('Futura Book BT.ttf') format('truetype');     
	font-weight: normal;
	font-style: normal;
}
.fuenteFutura4{
	font-family: 'futurali';
	
}
.fuenteFuturaB{
	font-family: 'FUTURAB';
	letter-spacing: 4px;
	font-size: 40;
	color: #005798;
}
.fuenteHelveti3{
	font-family: 'HELVETI3';
}
.fuenteDigital7{
	font-family: 'digital7';
}

.fuenteFuturaThin{
	font-family: 'FuturaThin';
}
.fuenteFuturaBookBT{
	font-family: 'Futura Book BT';
	letter-spacing: 3px;
	font-size: 11px;
}
.BTSinEspacio{
	font-family: 'Futura Book BT';		
}
.secTitle{
	font-family: 'Futura Book BT';		
}
.badge-fixed{
	position:fixed;
	top:0px;
	right: 30px;
	z-index: 1031;
}
.badge-fixed2{
	position:fixed;
	top:25px;
	right: 48px;
	z-index: 1032;
	text-align:center;
	color: white;
	font-size: 13px;
	letter-spacing: 3px;
	line-height: 0.5;
}
.fondo-redireccion{
	position:fixed;
	top:0px;
	left: 0px;
	z-index: 1031;
}
.redireccion{
	position:fixed;
	top:0px;
	left: 0px;
	z-index: 1032;
}
.letra-blanca{
	color: white;	
}

.centrado{
	text-align:center;
	margin: auto;

}
