// Place all the styles related to the friendship controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#ranking{
	background:#e9eaed;
	border: 1px solid #d3d6db;
}

.friendship-amigo-facebook
{
	.friendship-foto-facebook
	{
		float:left;
	}
	.friendship-nombre-facebook
	{

	}
}