// Place all the styles related to the Partidos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.logo{
	text-align:center;
	padding-bottom:60px;
}

.vs{
	text-align:center;
	margin-top:-200px;
	margin-bottom:150px;
}

.header-title{
	padding-top:0px;
	padding-bottom: 10px;
	background: #f0f1f1;
	h1{
	
	}
}
.partidos-equipos-local{
	text-align:right;
}
.partidos-equipos-visitante{
	text-align: left;
}
.partidos-ranking{
	padding:0	px;
	margin-top:20px;
}

.partido-montos{
	background: #004f92;
	padding-bottom:20px;
	margin-bottom:40px;
}
.partido-fecha{
	text-align: center;
}
.partido-pasouno{
	background:white;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: -15px;
	margin-bottom: 15px;
}

.partido-pasodos{
	background: #004f92;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: -55px;
	margin-bottom: 15px;
	color: white;
	small{
		color:white;
	}
}
.flash-container{
	padding-top:40px;
	background: #f0f1f1;
}